/* ========== Common Settings ==========*/

/* ========== Grid ==========*/
.mainGrid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
.textContainer {
  margin-bottom: 3em;
}
.codeContainer {
  width: 100%;
  height: 800px;
  background: #686868;
}
.themeTitle {
  font-size: var(--theme-title-size);
  color: var(--html-accent-clr);
  margin-bottom: 0.5em;
}
.htmlTitle {
  color: var(--html-accent-clr);
}
.cssTitle {
  color: var(--css-accent-clr);
}

/* ========== Side Bar ==========*/
.sidebar {
  display: none;
}

/* ========== Search Bar ==========*/
.searchbar {
  margin-bottom: 2em;
}
.searchbar fieldset {
  border: none;
  background: #3c3c5a;
  border-radius: 30px;
}
.searchbar div {
  padding: 0 !important;
}
.searchbar label {
  color: #6a6a6a;
  top: -7px;
}
.searchbar:focus label {
  transform: translate(14px, -7px) scale(0.75);
}
.searchbar input {
  color: #fff;
  padding: 7.5px 4px 7.5px 15px !important;
  z-index: 10;
}

/* ========== Nav Bar Links==========*/
.sidebarNavLinks li {
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.sidebarNavLinks li:hover {
  background: var(--accent-clr);
}
.sidebarNavLinks li a {
  padding: 4px 0 4px 1em;
}

/* ========== Main Content ==========*/
.mainСontent {
  min-height: 100vh;
  padding: 5em 2em 2em;
  grid-column: 2;
}
.descriptionText {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 3em;
  color: #e3e3e3;
}

th:nth-child(1),
th:nth-child(2),
td:nth-child(1),
td:nth-child(2) {
  color: var(--text-clr);
  background: var(--menu-bg-clr);
  border: 1px solid var(--accent-clr) !important;
  border-right: none;
}
td:nth-child(1) {
  font-weight: 700;
}
td:nth-child(2) {
  border-left: none;
}
th:nth-child(1),
th:nth-child(2) {
  color: var(--accent-clr);
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (min-width: 1025px) {
  .mainGrid {
    grid-template-columns: 275px 4fr;
  }
  .sidebar {
    display: block;
    padding: 2em 1em;
    background: var(--sidebar-bg-dark-clr);
    position: fixed;
    height: calc(100% - 93px);
    overflow-x: hidden;
    width: 275px;
    max-width: 275px;
    top: 93px;
    left: 0;
  }
  .mainСontent {
    padding: 7em 2em 2em;
  }
}